
<table class="table">
<thead class="table-dark text-center">
    <tr>
        <td>Imagen</td>
        <td>Nombre</td>
        <td>Tipo</td>
        <td>Precio</td>
        <td>Stock</td>
        <td>Cantidad</td>
    <tr>
</thead>
<tbody>
    @for (producto of productos; track producto.nombre) {
        <tr>
          <td><img [src]="producto.imagen"> </td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.tipo }}</td>
          <td>{{ producto.precio | currency }}</td>
          @if (producto.stock > 0) {
            <td></td>
          } @else {
            <td><span class="p-3 mb-2 bg-danger-subtle text-danger-emphasis">X</span></td>
          }
          @if (producto.stock > 0) {
            <td>
                <app-input-numero [(cantidad)]="producto.cant" [max] ="producto.stock"  (maxAlcanzado)="maxAlcanzado($event)"></app-input-numero>
                <button class="btn btn-secondary" (click)="addCarrito(producto)">Añadir</button>
            </td>
          }
        </tr>
      } @empty {
        <tr>
          <td colspan="4">No hay productos para mostrar.</td>
        </tr>
      }      
</tbody>
</table>
