<div class="list-group text-center">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      DATOS DE CONTACTO
    </a>
    <a href="#" class="list-group-item list-group-item-action">Valentino Malassisi</a>
    <a href="#" class="list-group-item list-group-item-action">Necochea,Buenos Aires</a>
    <a href="#" class="list-group-item list-group-item-action">2262-232323</a>
    <a class="list-group-item list-group-item-action disabled" aria-disabled="true">-----gmail.com</a>
  </div>